{% extends 'layout.html' %}

{% block content %}

<img class="hero-image" src="/images/valley-wide.jpg" alt="Some place in France">
{{ title }}
<section class="page page-home">
	<p class="line line-intro line-intro-1">Banana &amp; Potato present</p>
	<p class="line line-intro line-intro-2">A Provençal wedding</p>
	<h1 class="line line-names">Brad &amp; Manuel</h1>
	<h2 class="line line-dates">June 22&ndash;24, 2016</h2>
	<p class="line line-place">Provençe, France</p>
	<p class="line line-footnote">A local ceremony will also be held</p>

	<form name="email-registration" method="post" action="/register">
		<p>We'll update the web site and send formal invites once they're ready. Sign up to be notified when updates are made to the web site</p>
		<input type="email" class="form-field" placeholder="Enter your e-mail address">
		<button type="submit">Submit</button>
	</form>
</section>
{% endblock %}