// Core
@import "core/core";

// General structure

.pane {
	text-align: center;
	padding: 40px 20px;
	font-size: 20px;
	@include clearfix;

	@include media(medium) {
		padding: 80px;
	}
}

.column-left {
	@include media(medium) {
		float: left;
		width: 50%;
		padding-right: 20px;
	}
}

.column-right {
	@include media(medium) {
		float: right;
		width: 50%;
		padding-left: 20px;
	}
}

[class*="column-"] {
	overflow: hidden;
}

.block-margin-large {
	margin-bottom: 40px;
}

.skinny-intro-line {
	max-width: 825px;
	margin-left: auto;
	margin-right: auto;

	&:last-child {
		margin-bottom: 0;
	}
}

// Hero pane

.hero-wrap {
	background-color: $color-light-blue;//rgba(189, 214, 225, 0.5);
	height: 100vh;
	@include display(flex);
	@include align-items(center);

	font-size: 10px;

	@include media(small) {
		font-size: 16px;
	}
}

.hero-content {
	text-align: center;
	display: block;
	width: 100%;

	.line {
		margin: 0;
		font-size: 2em;
		line-height: 1.1;
		color: $color-dark-blue;
	}

	.line-names {
		font-size: 5.75em;
		color: $color-orange;
	}

	.line-intro-1 {
		letter-spacing: 4px;
	}

	.line-intro-2 {
		font-size: 1.5em;
		letter-spacing: 2px;
		margin-bottom: 5px;
	}
}


// Welcome pane

.schedule {
	text-align: left;
	padding: 0;
	margin-bottom: 40px;

	@include media(small+1px) {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	td {
		padding: 5px;
	}

	.date {
		width: 30%;
	}
}

.welcome-image {
	display: inline-block;
	max-width: 100%;
	border: 1px solid $color-light-grey;

	@include media(extra-small) {
		max-width: 400px;
	}
}

.line-footnote {
	font-size: 24px;
	margin-bottom: 0;
	color: $color-orange;
}



// Travel ideas

.travel-ideas {
	background-color: $color-dark-blue;
	color: #FFF;
}

.columnize {
	text-align: left;
	@include columns(2 8em);
}

.destinations {
	padding: 0;
}

.destination {
	@include clearfix;

	&:not(:last-child) {
		position: relative;
		margin-bottom: 40px;
		padding-bottom: 40px;

		&:after {
			content: "";
			display: block;
			height: 1px;
			width: 50%;
			position: absolute;
			bottom: 0;
			right: 50%;
			@include transform(translateX(50%));
			@include background(radial-gradient($color-light-blue, $color-dark-blue) left repeat);
		}
	}

	.sub-heading {
		vertical-align: middle;
		line-height: 30px;
	}

	.quote {
		color: $color-light-blue;
	}
}

.destination-icon {
	height: 30px;
	display: inline-block;
	fill: #FFF;
	margin-left: 10px;
	vertical-align: top;

	path {
		fill: #FFF;
	}
}


// Directions pane 
.how-to-get-there {
	background-color: $color-light-grey;
}

.map-image {
	display: inline-block;
	height: 350px;
	width: 100%;
	margin-bottom: 40px;
}

.map-headline {
	font-size: 32px;
	margin-bottom: 5px;
	display: inline-block;
	border-bottom: 1px solid $color-orange;
}

.arrival-steps {
	text-align: left;

	h3 {
		text-align: center;
	}
}


// Accomodations

.accomodation {
	color: #FFF;
	background-color: $color-dark-blue;

	a {
		color: $color-light-blue;
	}
}


// Photo gallery 

#flickr-gallery,
.photo-gallery {
	display: none;

	@include media(small) {
		display: block;
	}
}

.photo-gallery {
	background-color: $color-light-grey;
}


// Stay updated

.stay-updated {
	legend {
		margin-bottom: 40px;
	}
}

.form-field {
	font-size: 20px;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 10px;
	vertical-align: middle;
}

.form-text {
	display: block;
	padding: 10px 20px;
	border-bottom: 2px solid $color-grey;
	box-shadow: none;

	&:active,
	&:focus {
		border-bottom-color: $color-dark-blue;
	}
}

.form-button {
	display: block;
	text-transform: uppercase;
	padding: 10px 20px;
	outline: none;
	border: 1px solid $color-orange;
	background-color: $color-orange;
	transition: all 150ms ease-out;
	color: #FFF;

	&:hover {
		background-color: lighten($color-orange, 5%);
	}
}

.hide-this-field {
	left: -5000px;
    position: absolute;
}

#email-submission {
	background-color: $color-light-grey;
	border: 5px solid $color-grey;
	padding: 20px;
	max-width: 850px;
	margin: 0 auto;

	@include media(extra-small) {
		padding: 40px;
		border-width: 10px;
	}

	.form-confirmation {
		display: none;
	}

	&.success {
		.form-confirmation {
			display: block;
		}

		.form-fields {
			display: none;
		}
	}
}