// Core
@import "core/core";

.hero-image {
	display: block;
	max-width: 100%;
}

.page {
	text-align: center;
	padding: 80px;

	h1, h2 {
		margin: 0 0 20px;
		line-height: 1;
	}

	h1 {
		font-size: 80px;

	}

	h2 {
		background-color: #FFF;
		color: $color-black;
		font-size: 60px;
		display: inline-block;
		padding: 5px 20px;
	}
}

.page-home {
	.line {
		margin: 0;
		font-size: 30px;
		line-height: 1.1;
		color: $color-light-blue;
	}

	.line-intro-1 {
		font-weight: 700;
	}

	.line-intro-2 {
		font-weight: 200;
	}

	.line-names {
		font-size: 60px;
		color: $color-orange;
	}

	.line-dates {
		
	}

	.line-place {
		font-weight: 200;
	}

	.line-footnote {
		font-size: 24px;
		color: $color-orange;
	}
}