// Core
@import "core/core";

nav {
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-weight: 700;

	li {
		display: inline-block;
		margin-right: 20px;
	}
}

.page {
	text-align: center;
	padding: 80px;

	h1, h2 {
		margin: 0 0 20px;
		line-height: 1;
	}

	h1 {
		font-size: 80px;

	}

	h2 {
		background-color: #FFF;
		color: $color-black;
		font-size: 60px;
	}
}