// Knockout

@font-face {
    font-family: 'Knockout Bantam';
    src: url('/fonts/knockout-htf27-juniorbantamwt-webfont.eot');
    src: url('/fonts/knockout-htf27-juniorbantamwt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knockout-htf27-juniorbantamwt-webfont.woff2') format('woff2'),
         url('/fonts/knockout-htf27-juniorbantamwt-webfont.woff') format('woff'),
         url('/fonts/knockout-htf27-juniorbantamwt-webfont.ttf') format('truetype'),
         url('/fonts/knockout-htf27-juniorbantamwt-webfont.svg#knockout_htf27-juniorbantamRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout Feather';
    src: url('/fonts/knockout-htf28-juniorfeatherwt-webfont.eot');
    src: url('/fonts/knockout-htf28-juniorfeatherwt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knockout-htf28-juniorfeatherwt-webfont.woff2') format('woff2'),
         url('/fonts/knockout-htf28-juniorfeatherwt-webfont.woff') format('woff'),
         url('/fonts/knockout-htf28-juniorfeatherwt-webfont.ttf') format('truetype'),
         url('/fonts/knockout-htf28-juniorfeatherwt-webfont.svg#knockout_htf28-juniorfeatheRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout Lite';
    src: url('/fonts/knockout-htf29-juniorliteweight-webfont.eot');
    src: url('/fonts/knockout-htf29-juniorliteweight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/knockout-htf29-juniorliteweight-webfont.woff2') format('woff2'),
         url('/fonts/knockout-htf29-juniorliteweight-webfont.woff') format('woff'),
         url('/fonts/knockout-htf29-juniorliteweight-webfont.ttf') format('truetype'),
         url('/fonts/knockout-htf29-juniorliteweight-webfont.svg#knockout_htf29-juniorliteweRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Neutra

@font-face {
    font-family: 'Neutra Display Titling';
    src: url('/fonts/neutradisplay-titling.eot');
    src: url('/fonts/neutradisplay-titling.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutradisplay-titling.woff2') format('woff2'),
         url('/fonts/neutradisplay-titling.woff') format('woff'),
         url('/fonts/neutradisplay-titling.ttf') format('truetype'),
         url('/fonts/neutradisplay-titling.svg#neutradisplay-titling') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface Condensed Titling';
    src: url('/fonts/neutrafacecondensed-titling.eot');
    src: url('/fonts/neutrafacecondensed-titling.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutrafacecondensed-titling.woff2') format('woff2'),
         url('/fonts/neutrafacecondensed-titling.woff') format('woff'),
         url('/fonts/neutrafacecondensed-titling.ttf') format('truetype'),
         url('/fonts/neutrafacecondensed-titling.svg#neutrafacecondensed-titling') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutratext Bold';
    src: url('/fonts/neutratext-bold.eot');
    src: url('/fonts/neutratext-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutratext-bold.woff2') format('woff2'),
         url('/fonts/neutratext-bold.woff') format('woff'),
         url('/fonts/neutratext-bold.ttf') format('truetype'),
         url('/fonts/neutratext-bold.svg#neutratext-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutratext Bold Italic';
    src: url('/fonts/neutratext-bolditalic.eot');
    src: url('/fonts/neutratext-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutratext-bolditalic.woff2') format('woff2'),
         url('/fonts/neutratext-bolditalic.woff') format('woff'),
         url('/fonts/neutratext-bolditalic.ttf') format('truetype'),
         url('/fonts/neutratext-bolditalic.svg#neutratext-bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutratext Book';
    src: url('/fonts/neutratext-book.eot');
    src: url('/fonts/neutratext-book.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutratext-book.woff2') format('woff2'),
         url('/fonts/neutratext-book.woff') format('woff'),
         url('/fonts/neutratext-book.ttf') format('truetype'),
         url('/fonts/neutratext-book.svg#neutratext-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutratext Book Italic';
    src: url('/fonts/neutratext-bookitalic.eot');
    src: url('/fonts/neutratext-bookitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/neutratext-bookitalic.woff2') format('woff2'),
         url('/fonts/neutratext-bookitalic.woff') format('woff'),
         url('/fonts/neutratext-bookitalic.ttf') format('truetype'),
         url('/fonts/neutratext-bookitalic.svg#neutratext-bookitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}