@mixin hide-text() {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin clearfix() {
	&:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin transform($values) {
    -webkit-transform: $values;
    -ms-transform: $values;
    transform: $values;
}

@mixin box-shadow($values) {
    -webkit-box-shadow: $values;
    box-shadow: $values;
}

@mixin box-sizing($values) {
    -webkit-box-sizing: $values;
    -moz-box-sizing: $values;
    box-sizing: $values;
}