@mixin font-family($family) {
	font-family: "#{$family}", Helvetica, Arial, sans-serif;
}

.italic {
	@include font-family('Neutratext Book Italic');
}

.bold {
    @include font-family('Neutratext Bold');
}

.neutra-display-titling {
    @include font-family('Neutra Display Titling');
}

.neutra-condensed-titling {
    @include font-family('Neutraface Condensed Titling');
}

.heading {
    font-size: 32px;
}

.sub-heading {
    font-size: 28px;
}