// Colors

$color-light-blue: #bdd4de;
$color-dark-blue: #3f5765;
$color-orange: #f15623;
$color-black: #333;
$color-grey: #e3e3e3;
$color-light-grey: #efefef;
//$color-hero-bg: #f0efeb;
//$color-hero-bg: #f6f6f6;

// Nav
$nav-height: 60px;

$breakpoint-extra-small: 480px !default;
$breakpoint-small: 768px !default;
$breakpoint-medium: 992px !default;
$breakpoint-large: 1200px !default;