.primary-nav {
	text-align: center;
	padding: 5px;
	background-color: $color-dark-blue;
	text-transform: uppercase;
	font-size: 12px;
	

	@include media(small) {
		font-size: 16px;
		padding: 15px;
		height: $nav-height;
		
	}

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		display: block;
		text-decoration: none;
		//@include font-family('Neutra Display Titling');
	}

	li {
		display: inline-block;

		&.on, 
		&:hover {
			a {
				border-color: #FFF;
			}
		}
	}
}

/* .primary-nav-home {
	display: block !important;
	margin-bottom: 5px;
	background-color: $color-orange;
	padding-bottom: 5px;

	@include media(small) {
		display: inline-block !important;
		margin-bottom: 0;
		margin-right: 2%;
		background-color: transparent;
	}
} */

.primary-nav-item {
	width: 49%;
	@include display(flex);
	@include align-items(center);

	&:nth-child(odd) {
		margin-right: 2%;
	}

	&:nth-child(-n+2) {
		margin-bottom: 2%;
	}

	&:nth-child(n+4) {
		margin-bottom: 0;
	}

	@include media(small) {
		width: auto;
		margin: 0 5% 0 0 !important;
		background-color: transparent;
	}

	a {
		color: #FFF;
		border: 1px solid $color-light-blue;
		transition: border-color 150ms ease-out;
		line-height: 100px;
		

		@include media(small) {
			line-height: 30px;
			border-width: 0 0 2px;
			border-color: transparent;
		}
	}
}

.primary-nav-logo {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.primary-footer {
	text-align: center;
	padding: 20px 0 10px;

	.footer-image {
		width: 30px;
		height: 24px;
		display: block;
		margin: 0 auto;
	}
}