<nav class="primary-nav">
	<ul>
		<li class="primary-nav-home">
			<a href="#">
				<img src="/images/puppies.min.svg" class="primary-nav-logo">
			</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#event-info">Event info</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#travel-ideas">Travel ideas</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#getting-there">Getting there</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Photo gallery</a>
		</li>{#
		#}{#<li class="primary-nav-item">
			<a href="#">Gifts</a>
		</li>#}
	</ul>
</nav>