<nav class="primary-nav">
	<ul>
		<li class="primary-nav-home">
			<a href="#">
				<img src="/images/puppies.min.svg" class="primary-nav-logo">
				<span class="hide-text">Home</span>
			</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Our story</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Event info</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Getting there</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Travel ideas</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Photo gallery</a>
		</li>{#
		#}<li class="primary-nav-item">
			<a href="#">Gifts</a>
		</li>
	</ul>
</nav>